.widget {
    flex: 0.2;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    border: 1px solid lightgray;
    border-radius: 5px;
    height: fit-content;
    background-color: white;
  }
  
  .widget__header {
    border-bottom: 1px solid lightgray;
  }
  
  .widget__header > h5 {
    padding: 30px 50px;
    color: rgb(0, 0, 0);
    font-size: 15px;
    letter-spacing: 1.1px;
    background-color: rgb(221, 193, 192);
  }
  
  .widget__contents {
    display: flex;
    flex-direction: column;
  }